---
import FeatureBlogsSection from "../components/FeatureBlogsSection.astro";
import IntroSection from "../components/IntroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { Post } from "../types";

const featuredPosts = (await Astro.glob<Post>("./blog/*.{md,mdx}"))
  .filter((post) => post.frontmatter.featured)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<MainLayout>
  <main>
    <IntroSection />
    <div class="my-10">
      Hi! I am very passionate developer who loves to learn and help others
      learn. I'm interested in all things web and all the cool and cutting edge
      technologies that come with it. I specialize in Angular and React, but am
      very interested in Astro and SvelteKit.
      <br />
      <br />
      In my off-time, I like watching "The Office", Play a game of Darts, and going
      out for a drive.
    </div>
    <FeatureBlogsSection featuredPosts={featuredPosts} />
  </main>
</MainLayout>
