---
import FeatureBlogsSection from "../components/FeatureBlogsSection.astro";
import IntroSection from "../components/IntroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { Post } from "../types";

const featuredPosts = (await Astro.glob<Post>("./blog/*.{md,mdx}"))
  .filter((post) => post.frontmatter.featured)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 3);
---

<MainLayout>
  <main class="space-y-16">
    <IntroSection />
    <div>
      Hi! I am a passionate developer who loves to learn and help others learn.
      I'm interested in all things web and all the cool and cutting-edge
      technologies that come with it. I specialize in Angular and React but I am
      very interested in Astro and SvelteKit.
      <br />
      <br />
      In my off-time, I like to watch "The Office," play a game of darts, or go out
      for a drive and take in nature.
    </div>
    <FeatureBlogsSection featuredPosts={featuredPosts} />
  </main>
</MainLayout>
