---
import IntroSection from "../components/IntroSection.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <IntroSection />
    <div class="my-10">
      Hi! I am very passionate developer who loves to learn and help others
      learn. I'm interested in all things web and all the cool and cutting edge
      technologies that come with it. I specialize in Angular and React, but am
      very interested in Astro and SvelteKit.
      <br />
      <br />
      In my off-time, I like watching "The Office", Play a game of Darts, and going
      out for a drive.
    </div>
  </main>
</MainLayout>
