---
import { clsxm } from "../lib/clsx";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const classes = clsxm(
  "relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full p-2",
  "bg-zinc-300 text-zinc-700 mx-1",
  "hover:text-cyan-500"
);
---

<a href={href} class={classes} {...props}>
  <slot />
</a>
