---
import { clsxm } from "../lib/clsx";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  disabled?: boolean;
}

const { href, class: className, disabled, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  (href === "/" || href === "/es"
    ? href === pathname.replace(/\/$/, "")
    : pathname.includes(href?.toString() ?? ""));

const classes = clsxm(
  "inline-block no-underline px-2 py-1 text-zinc-700 rounded",
  "hover:bg-zinc-100",
  isActive && "underline font-semibold decoration-cyan-500",
  disabled && "bg-zinc-100 hover:bg-zinc-100 pointer-events-none"
);
---

<a href={href} class={classes} {...props}>
  <slot />
</a>
