---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-10 mt-3">
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink disabled href="/portfolio">Portfolio</HeaderLink>
    <HeaderLink disabled href="/guest-book">Guest Book</HeaderLink>
  </nav>
</header>
