---
import { clsxm } from "../lib/clsx";

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  (href === "/"
    ? href === pathname.replace(/\/$/, "")
    : pathname.includes(href?.toString() ?? ""));

const classes = clsxm(
  "inline-block no-underline px-2 py-1 text-zinc-700",
  "hover:bg-zinc-100 hover:rounded",
  isActive && "underline font-bold decoration-cyan-500"
);
---

<a href={href} class={classes} {...props}>
  <slot />
</a>
