---
import HeaderLink from "./HeaderLink.astro";
import { t } from "i18next";
---

<header class="mb-10 mt-3 flex justify-end">
  <nav>
    <HeaderLink href="/">{t("main.header.home")}</HeaderLink>
    <HeaderLink href="/blog">{t("main.header.blog")}</HeaderLink>
    <HeaderLink disabled href="/portfolio">
      {t("main.header.portfolio")}
    </HeaderLink>
    <HeaderLink disabled href="/guest-book">
      {t("main.header.guest-book")}
    </HeaderLink>
  </nav>
</header>
