---
import { Image } from "@astrojs/image/components";
import profile from "/public/profile-birds.jpg";
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
---

<div class="my-5 flex items-center justify-between">
  <div>
    <h2 class="text-4xl font-semibold">{t("home.intro.heading")}</h2>
    <Trans i18nKey="home.intro.title">
      <span class="text-sm text-zinc-500">
        Software Engineer at <span class="text-cyan-600">Cisco</span>
      </span>
    </Trans>
    <br />
    <p class="mt-2 italic">{t("home.intro.slogan")}</p>
  </div>
  <div class="ml-12">
    <Image
      src={profile}
      width={150}
      height={150}
      alt={t("home.intro.img-alt")}
      class="rounded-full shadow-lg mr-2 shadow-xl"
    />
  </div>
</div>
