---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/normalise.css";
import "../styles/styles.css";
import i18next, { t } from "i18next";

export interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const mainTitle: string = title ?? t("main.title");
const mainDescription: string = description ?? t("main.description");
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <BaseHead title={mainTitle} description={mainDescription} />
  </head>
  <body class="m-auto bg-slate-50">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
